/* ===================================================
   900px
=================================================== */

@media(max-width:900px){

  .about-section{
    flex-direction:column;
    gap:56px;
    padding:100px 8%;
  }

  .about-image img{
    margin:auto;
  }

  .about-highlight{
    grid-template-columns:1fr;
  }

  .featured-project-section{
    padding:100px 8%;
  }

  .featured-project-content{
    grid-template-columns:1fr;
    gap:56px;
  }

  .featured-project-image img{
    aspect-ratio:4 / 5;
  }

  .teaching-section{
    padding:100px 8%;
  }

  .teaching-inner{
    grid-template-columns:1fr;
    gap:56px;
  }

  .teaching-header h2{
    font-size:36px;
  }

  .teaching-intro h3{
    font-size:27px;
  }

  .teaching-item{
    grid-template-columns:54px 1fr;
    gap:20px;
  }

}


/* ===================================================
   768px
=================================================== */

@media(max-width:768px){

  .navbar{
    gap:22px;
    padding:24px 20px;
  }

  .hero{
    background:
      linear-gradient(
        to bottom,
        rgba(0,0,0,.25),
        rgba(0,0,0,.9)
      ),
      url("../images/hero/hero-web.jpg")
      center center / cover no-repeat;
  }

  .hero-content{
    left:7%;
    right:7%;
    top:62%;
  }

  .hero h1{
    font-size:46px;
  }

}
